.count-container form{
	max-width: 700px;
	display: flex;
	flex-wrap: wrap;
}
.count-container form .input-group{
	width: 100%;
	margin-bottom: 30px;
}
.count-container form .input-control{
	display: block;
	width: 100%;
	height: 50px;
	font-size: 18px;
	padding: 15px;
	color: #000000;
}
.count-container form textarea.input-control{
	height: 140px;
}


